{% block logo %}
    <section class="logo hover-mouse animated slideInUp">
        <a href="#" class="left-logo"><img src="/images/logo.png" alt="logo-image" class="logo-default-left"></a>
        <a href="#" class="right-logo"><img src="/images/logo-p.png" alt="logo-image" class="logo-default-right"></a>       
    </section>
    <section class="logo-white hover-mouse">
        <a href="#" class="left-logo"><img src="/images/logo-white.png" alt="logo-image" class="logo-default-left"></a>
        <a href="#" class="right-logo"><img src="/images/logo-white-p.png" alt="logo-image" class="logo-default-right"></a>       
    </section>
{% endblock %}