
 {% block navbar %}
     <section class="sidenav">
        <!-- <a href="javascript:void(0)" class="close-nav exit-navbar">&times;</a> -->
        <div class="row-1">
            
           
            <div class="search-bar-container">
                <span><i class="fa fa-2x fa-search"></i></span>
                <input class="search-bar" type="text" placeholder="Search" name="search">
            </div> 

        </div>
        <div class="row-2">
            <div class="nav-item-content">
                <a href="#" class="hover-mouse">Watch</a>
                <a href="#" class="hover-mouse">Speakers</a>
                <a href="#" class="hover-mouse">About</a>
            </div>
        </div>
       <div class="row-3">
            <button id="subscribe-button" class="hover-mouse">Subscribe</button>
       </div>
       
    </section>
      
    <div class='sidenav-backdrop exit-navbar'></div>
{% endblock %}